# Assignment Rest API

In [1]:
pip install --quiet requests

Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import requests

### REST API
#### Using data from [https://www.energidataservice.dk](https://www.energidataservice.dk) 

We look at real time energy production: https://www.energidataservice.dk/tso-electricity/electricityprodex5minrealtime

In [3]:
import pandas as pd
import requests
from pandas import json_normalize

In [8]:
#get data from an open energy data service provider
url = 'https://api.energidataservice.dk/dataset/ElectricityProdex5MinRealtime?limit=500'

response = requests.get(url)
dictr = response.json() #parse json to dict
recs = dictr['records'] 
df = json_normalize(recs) #flatten json files into data frame
df.head()

,Minutes5UTC,Minutes5DK,PriceArea,ProductionLt100MW,ProductionGe100MW,OffshoreWindPower,OnshoreWindPower,SolarPower,ExchangeGreatBelt,ExchangeGermany,ExchangeNetherlands,ExchangeNorway,ExchangeSweden,BornholmSE4
0,2023-06-06T17:55:00,2023-06-06T19:55:00,DK1,283.429993,377.920013,319.230011,228.179993,236.270004,-88.269997,-1160.060059,700.070007,802.820007,715.000000,NaN
1,2023-06-06T17:55:00,2023-06-06T19:55:00,DK2,106.400002,128.630005,36.009998,36.119999,67.080002,88.269997,-167.500000,NaN,NaN,1073.619995,18.170000
2,2023-06-06T17:50:00,2023-06-06T19:50:00,DK1,282.279999,364.850006,329.769989,242.740005,259.670013,-124.120003,-1135.500000,700.070007,803.000000,716.000000,NaN
3,2023-06-06T17:50:00,2023-06-06T19:50:00,DK2,106.230003,128.630005,36.910000,35.860001,73.550003,124.120003,-168.539993,NaN,NaN,1031.569946,17.719999
4,2023-06-06T17:45:00,2023-06-06T19:45:00,DK1,281.890015,338.890015,321.850006,249.529999,285.589996,-151.160004,-1107.560059,700.070007,803.150024,716.000000,NaN

#### 1
Compute overview statistics (mean, variance, quantiles, counts,...) for all variables. Hint: there is a single pandas call to get this ...

#### 2 
Compute the average ***OffshoreWindPower*** by each day for the last 7 days.
* hint: you need to check the API to query the right data